@import "variables";


.category-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;

  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: left;

  h1 {
    font-style: normal;
    font-size: $page-title-font-size;
    margin: 0;

  }

  p {
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }

  blockquote {
    padding-left: 1rem;
    padding-right: 0;
    border-left: solid 2px $clr-dark-1;
  }


}


