@import "variables";
@import "typography";
@import "mixins";
@import "header";
@import "index";
@import "section-page";
@import "projects-page";
@import "project-gallery";
@import "footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: $bg-color;

}


.header, .footer {
  @include content-width($max-width-large);
}

main {
  @include content-width($max-width-small);
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  main {
    margin-bottom: 1.5rem;
  }

}

@media (max-width: 425px) {
  main {
    margin-bottom: 0;
  }

}