<footer class="footer">

    <div class="left">

        <div class="email">
            <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>
        </div>
        <div class="copyright">
            <p>© 2024 {{ config.extra.author }}</p>
        </div>
    </div>

    <div class="middle">
        <div class="logo">

            {% set image = resize_image(path="/images/"~config.extra.logo, width=200, height=200, op="fill",
            format="webp") %}

            <img loading="lazy" src="{{ image.url }}" alt="page icon">

        </div>
    </div>

    <div class="right">
        <div class="social">
            {% for social_link in config.extra.social_links %}
            <a href="{{ social_link.url }}" aria-label="{{ social_link.name }}">
                <i class="{{ social_link.icon }}"></i>
            </a>
            {% endfor %}
        </div>
    </div>
</footer>