<header class="header">

    <a href="/" class="logo{% if current_path and current_path == '/' %} active{% endif %}">{{ config.extra.navbar_name
        }}</a>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i id="menu-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </i>
        <i id="close-menu-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </i>
    </label>

    <nav class="navbar">
        {% for navbar_link in config.extra.navbar_links %}
        {% set link_url = navbar_link.url | replace(from="$BASE_URL", to="") %}
        {% set page_link = link_url ~ "/" %}

        <a {% if current_path and current_path== page_link %} class="active" {% endif %} href="{{ link_url }}">{{navbar_link.name}}</a>

        {% endfor %}

    </nav>
</header>
